
.file-drag-and-drop{
    outline: 2px dashed #c1c1c1 ;
    outline-offset:-1px;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 350px;
    height: 150px;
    background-color: #f9f9f9;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    background-image: url("./images/uploadFile.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center 43px;
}

.file-drag-and-drop p{
    padding-top: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #898989;
}

