
.file-drag-and-drop{
    outline: 2px dashed #92b0b3 ;
    outline-offset:-10px;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 350px;
    height: 100px;
    background-color: #cccccc;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

